app/code/community/Afterpay/Afterpay/Model/Soap/Wsdl/AfterPaycheck_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2 (branches/2.2-7015; 2012-02-20T20:31:25+0000) JAXWS-RI/2.2.6 JAXWS/2.2 svn-revision#unknown.--><!--Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2 (branches/2.2-7015; 2012-02-20T20:31:25+0000) JAXWS-RI/2.2.6 JAXWS/2.2 svn-revision#unknown.--><definitions targetNamespace="http://www.afterpay.nl/ad3/" name="RiskManagementServicesImplService" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.afterpay.nl/ad3/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://www.afterpay.nl/ad3/" schemaLocation="AfterPaycheck.xsd"/>
    </xsd:schema>
  </types>
  <message name="validateAndCheckB2BOrder">
    <part name="parameters" element="tns:validateAndCheckB2BOrder"/>
  </message>
  <message name="validateAndCheckB2BOrderResponse">
    <part name="parameters" element="tns:validateAndCheckB2BOrderResponse"/>
  </message>
  <message name="AuthenticationException">
    <part name="fault" element="tns:AuthenticationException"/>
  </message>
  <message name="AccessDeniedException">
    <part name="fault" element="tns:AccessDeniedException"/>
  </message>
  <message name="IllegalParameterException">
    <part name="fault" element="tns:IllegalParameterException"/>
  </message>
  <message name="SystemConfigurationException">
    <part name="fault" element="tns:SystemConfigurationException"/>
  </message>
  <message name="validateAndCheckB2COrder">
    <part name="parameters" element="tns:validateAndCheckB2COrder"/>
  </message>
  <message name="validateAndCheckB2COrderResponse">
    <part name="parameters" element="tns:validateAndCheckB2COrderResponse"/>
  </message>
  <message name="validateAndCheckInstallmentOrder">
    <part name="parameters" element="tns:validateAndCheckInstallmentOrder"/>
  </message>
  <message name="validateAndCheckInstallmentOrderResponse">
    <part name="parameters" element="tns:validateAndCheckInstallmentOrderResponse"/>
  </message>
  <portType name="RiskManagementServicesImpl">
    <operation name="validateAndCheckB2BOrder">
      <input wsam:Action="validateAndCheckB2BOrder" message="tns:validateAndCheckB2BOrder"/>
      <output wsam:Action="http://www.afterpay.nl/ad3/RiskManagementServicesImpl/validateAndCheckB2BOrderResponse" message="tns:validateAndCheckB2BOrderResponse"/>
      <fault message="tns:AuthenticationException" name="AuthenticationException" wsam:Action="http://www.afterpay.nl/ad3/RiskManagementServicesImpl/validateAndCheckB2BOrder/Fault/AuthenticationException"/>
      <fault message="tns:AccessDeniedException" name="AccessDeniedException" wsam:Action="http://www.afterpay.nl/ad3/RiskManagementServicesImpl/validateAndCheckB2BOrder/Fault/AccessDeniedException"/>
      <fault message="tns:IllegalParameterException" name="IllegalParameterException" wsam:Action="http://www.afterpay.nl/ad3/RiskManagementServicesImpl/validateAndCheckB2BOrder/Fault/IllegalParameterException"/>
      <fault message="tns:SystemConfigurationException" name="SystemConfigurationException" wsam:Action="http://www.afterpay.nl/ad3/RiskManagementServicesImpl/validateAndCheckB2BOrder/Fault/SystemConfigurationException"/>
    </operation>
    <operation name="validateAndCheckB2COrder">
      <input wsam:Action="validateAndCheckB2COrder" message="tns:validateAndCheckB2COrder"/>
      <output wsam:Action="http://www.afterpay.nl/ad3/RiskManagementServicesImpl/validateAndCheckB2COrderResponse" message="tns:validateAndCheckB2COrderResponse"/>
      <fault message="tns:AuthenticationException" name="AuthenticationException" wsam:Action="http://www.afterpay.nl/ad3/RiskManagementServicesImpl/validateAndCheckB2COrder/Fault/AuthenticationException"/>
      <fault message="tns:AccessDeniedException" name="AccessDeniedException" wsam:Action="http://www.afterpay.nl/ad3/RiskManagementServicesImpl/validateAndCheckB2COrder/Fault/AccessDeniedException"/>
      <fault message="tns:IllegalParameterException" name="IllegalParameterException" wsam:Action="http://www.afterpay.nl/ad3/RiskManagementServicesImpl/validateAndCheckB2COrder/Fault/IllegalParameterException"/>
      <fault message="tns:SystemConfigurationException" name="SystemConfigurationException" wsam:Action="http://www.afterpay.nl/ad3/RiskManagementServicesImpl/validateAndCheckB2COrder/Fault/SystemConfigurationException"/>
    </operation>
    <operation name="validateAndCheckInstallmentOrder">
      <input wsam:Action="http://www.afterpay.nl/ad3/RiskManagementServicesImpl/validateAndCheckInstallmentOrderRequest" message="tns:validateAndCheckInstallmentOrder"/>
      <output wsam:Action="http://www.afterpay.nl/ad3/RiskManagementServicesImpl/validateAndCheckInstallmentOrderResponse" message="tns:validateAndCheckInstallmentOrderResponse"/>
      <fault message="tns:AuthenticationException" name="AuthenticationException" wsam:Action="http://www.afterpay.nl/ad3/RiskManagementServicesImpl/validateAndCheckInstallmentOrder/Fault/AuthenticationException"/>
      <fault message="tns:AccessDeniedException" name="AccessDeniedException" wsam:Action="http://www.afterpay.nl/ad3/RiskManagementServicesImpl/validateAndCheckInstallmentOrder/Fault/AccessDeniedException"/>
      <fault message="tns:IllegalParameterException" name="IllegalParameterException" wsam:Action="http://www.afterpay.nl/ad3/RiskManagementServicesImpl/validateAndCheckInstallmentOrder/Fault/IllegalParameterException"/>
      <fault message="tns:SystemConfigurationException" name="SystemConfigurationException" wsam:Action="http://www.afterpay.nl/ad3/RiskManagementServicesImpl/validateAndCheckInstallmentOrder/Fault/SystemConfigurationException"/>
    </operation>
  </portType>
  <binding name="RiskManagementServicesImplPortBinding" type="tns:RiskManagementServicesImpl">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="validateAndCheckB2BOrder">
      <soap:operation soapAction="validateAndCheckB2BOrder"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AuthenticationException">
        <soap:fault name="AuthenticationException" use="literal"/>
      </fault>
      <fault name="AccessDeniedException">
        <soap:fault name="AccessDeniedException" use="literal"/>
      </fault>
      <fault name="IllegalParameterException">
        <soap:fault name="IllegalParameterException" use="literal"/>
      </fault>
      <fault name="SystemConfigurationException">
        <soap:fault name="SystemConfigurationException" use="literal"/>
      </fault>
    </operation>
    <operation name="validateAndCheckB2COrder">
      <soap:operation soapAction="validateAndCheckB2COrder"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AuthenticationException">
        <soap:fault name="AuthenticationException" use="literal"/>
      </fault>
      <fault name="AccessDeniedException">
        <soap:fault name="AccessDeniedException" use="literal"/>
      </fault>
      <fault name="IllegalParameterException">
        <soap:fault name="IllegalParameterException" use="literal"/>
      </fault>
      <fault name="SystemConfigurationException">
        <soap:fault name="SystemConfigurationException" use="literal"/>
      </fault>
    </operation>
    <operation name="validateAndCheckInstallmentOrder">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AuthenticationException">
        <soap:fault name="AuthenticationException" use="literal"/>
      </fault>
      <fault name="AccessDeniedException">
        <soap:fault name="AccessDeniedException" use="literal"/>
      </fault>
      <fault name="IllegalParameterException">
        <soap:fault name="IllegalParameterException" use="literal"/>
      </fault>
      <fault name="SystemConfigurationException">
        <soap:fault name="SystemConfigurationException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="RiskManagementServicesImplService">
    <port name="RiskManagementServicesImplPort" binding="tns:RiskManagementServicesImplPortBinding">
      <soap:address location="https://test.acceptgirodienst.nl:443/soapservices/rm/AfterPaycheck"/>
    </port>
  </service>
</definitions>