app/code/community/Afterpay/Afterpay/Model/Soap/Wsdl/OrderManagement_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2 (branches/2.2-7015; 2012-02-20T20:31:25+0000) JAXWS-RI/2.2.6 JAXWS/2.2 svn-revision#unknown.--><!--Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2 (branches/2.2-7015; 2012-02-20T20:31:25+0000) JAXWS-RI/2.2.6 JAXWS/2.2 svn-revision#unknown.--><definitions targetNamespace="http://www.afterpay.nl/ad3/" name="OrderManagementServicesImplService" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.afterpay.nl/ad3/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://www.afterpay.nl/ad3/" schemaLocation="OrderManagement.xsd"/>
    </xsd:schema>
  </types>
  <message name="doReauthorization">
    <part name="parameters" element="tns:doReauthorization"/>
  </message>
  <message name="doReauthorizationResponse">
    <part name="parameters" element="tns:doReauthorizationResponse"/>
  </message>
  <message name="AuthenticationException">
    <part name="fault" element="tns:AuthenticationException"/>
  </message>
  <message name="AccessDeniedException">
    <part name="fault" element="tns:AccessDeniedException"/>
  </message>
  <message name="IllegalParameterException">
    <part name="fault" element="tns:IllegalParameterException"/>
  </message>
  <message name="refundInvoice">
    <part name="parameters" element="tns:refundInvoice"/>
  </message>
  <message name="refundInvoiceResponse">
    <part name="parameters" element="tns:refundInvoiceResponse"/>
  </message>
  <message name="refundFullInvoice">
    <part name="parameters" element="tns:refundFullInvoice"/>
  </message>
  <message name="refundFullInvoiceResponse">
    <part name="parameters" element="tns:refundFullInvoiceResponse"/>
  </message>
  <message name="captureFull">
    <part name="parameters" element="tns:captureFull"/>
  </message>
  <message name="captureFullResponse">
    <part name="parameters" element="tns:captureFullResponse"/>
  </message>
  <message name="capturePartial">
    <part name="parameters" element="tns:capturePartial"/>
  </message>
  <message name="capturePartialResponse">
    <part name="parameters" element="tns:capturePartialResponse"/>
  </message>
  <message name="SystemConfigurationException">
    <part name="fault" element="tns:SystemConfigurationException"/>
  </message>
  <message name="requestOrderStatus">
    <part name="parameters" element="tns:requestOrderStatus"/>
  </message>
  <message name="requestOrderStatusResponse">
    <part name="parameters" element="tns:requestOrderStatusResponse"/>
  </message>
  <message name="cancelOrder">
    <part name="parameters" element="tns:cancelOrder"/>
  </message>
  <message name="cancelOrderResponse">
    <part name="parameters" element="tns:cancelOrderResponse"/>
  </message>
  <message name="doVoid">
    <part name="parameters" element="tns:doVoid"/>
  </message>
  <message name="doVoidResponse">
    <part name="parameters" element="tns:doVoidResponse"/>
  </message>
  <message name="requestNewInvoiceNumber">
    <part name="parameters" element="tns:requestNewInvoiceNumber"/>
  </message>
  <message name="requestNewInvoiceNumberResponse">
    <part name="parameters" element="tns:requestNewInvoiceNumberResponse"/>
  </message>
  <portType name="OrderManagementServicesImpl">
    <operation name="doReauthorization">
      <input wsam:Action="refundInvoice" message="tns:doReauthorization"/>
      <output wsam:Action="http://www.afterpay.nl/ad3/OrderManagementServicesImpl/doReauthorizationResponse" message="tns:doReauthorizationResponse"/>
      <fault message="tns:AuthenticationException" name="AuthenticationException" wsam:Action="http://www.afterpay.nl/ad3/OrderManagementServicesImpl/doReauthorization/Fault/AuthenticationException"/>
      <fault message="tns:AccessDeniedException" name="AccessDeniedException" wsam:Action="http://www.afterpay.nl/ad3/OrderManagementServicesImpl/doReauthorization/Fault/AccessDeniedException"/>
      <fault message="tns:IllegalParameterException" name="IllegalParameterException" wsam:Action="http://www.afterpay.nl/ad3/OrderManagementServicesImpl/doReauthorization/Fault/IllegalParameterException"/>
    </operation>
    <operation name="refundInvoice">
      <input wsam:Action="refundInvoice" message="tns:refundInvoice"/>
      <output wsam:Action="http://www.afterpay.nl/ad3/OrderManagementServicesImpl/refundInvoiceResponse" message="tns:refundInvoiceResponse"/>
      <fault message="tns:AuthenticationException" name="AuthenticationException" wsam:Action="http://www.afterpay.nl/ad3/OrderManagementServicesImpl/refundInvoice/Fault/AuthenticationException"/>
      <fault message="tns:AccessDeniedException" name="AccessDeniedException" wsam:Action="http://www.afterpay.nl/ad3/OrderManagementServicesImpl/refundInvoice/Fault/AccessDeniedException"/>
      <fault message="tns:IllegalParameterException" name="IllegalParameterException" wsam:Action="http://www.afterpay.nl/ad3/OrderManagementServicesImpl/refundInvoice/Fault/IllegalParameterException"/>
    </operation>
    <operation name="refundFullInvoice">
      <input wsam:Action="refundInvoice" message="tns:refundFullInvoice"/>
      <output wsam:Action="http://www.afterpay.nl/ad3/OrderManagementServicesImpl/refundFullInvoiceResponse" message="tns:refundFullInvoiceResponse"/>
      <fault message="tns:AuthenticationException" name="AuthenticationException" wsam:Action="http://www.afterpay.nl/ad3/OrderManagementServicesImpl/refundFullInvoice/Fault/AuthenticationException"/>
      <fault message="tns:AccessDeniedException" name="AccessDeniedException" wsam:Action="http://www.afterpay.nl/ad3/OrderManagementServicesImpl/refundFullInvoice/Fault/AccessDeniedException"/>
      <fault message="tns:IllegalParameterException" name="IllegalParameterException" wsam:Action="http://www.afterpay.nl/ad3/OrderManagementServicesImpl/refundFullInvoice/Fault/IllegalParameterException"/>
    </operation>
    <operation name="captureFull">
      <input wsam:Action="captureFull" message="tns:captureFull"/>
      <output wsam:Action="http://www.afterpay.nl/ad3/OrderManagementServicesImpl/captureFullResponse" message="tns:captureFullResponse"/>
      <fault message="tns:IllegalParameterException" name="IllegalParameterException" wsam:Action="http://www.afterpay.nl/ad3/OrderManagementServicesImpl/captureFull/Fault/IllegalParameterException"/>
      <fault message="tns:AccessDeniedException" name="AccessDeniedException" wsam:Action="http://www.afterpay.nl/ad3/OrderManagementServicesImpl/captureFull/Fault/AccessDeniedException"/>
      <fault message="tns:AuthenticationException" name="AuthenticationException" wsam:Action="http://www.afterpay.nl/ad3/OrderManagementServicesImpl/captureFull/Fault/AuthenticationException"/>
    </operation>
    <operation name="capturePartial">
      <input wsam:Action="capturePartial" message="tns:capturePartial"/>
      <output wsam:Action="http://www.afterpay.nl/ad3/OrderManagementServicesImpl/capturePartialResponse" message="tns:capturePartialResponse"/>
      <fault message="tns:SystemConfigurationException" name="SystemConfigurationException" wsam:Action="http://www.afterpay.nl/ad3/OrderManagementServicesImpl/capturePartial/Fault/SystemConfigurationException"/>
      <fault message="tns:AuthenticationException" name="AuthenticationException" wsam:Action="http://www.afterpay.nl/ad3/OrderManagementServicesImpl/capturePartial/Fault/AuthenticationException"/>
      <fault message="tns:AccessDeniedException" name="AccessDeniedException" wsam:Action="http://www.afterpay.nl/ad3/OrderManagementServicesImpl/capturePartial/Fault/AccessDeniedException"/>
      <fault message="tns:IllegalParameterException" name="IllegalParameterException" wsam:Action="http://www.afterpay.nl/ad3/OrderManagementServicesImpl/capturePartial/Fault/IllegalParameterException"/>
    </operation>
    <operation name="requestOrderStatus">
      <input wsam:Action="http://www.afterpay.nl/ad3/OrderManagementServicesImpl/requestOrderStatusRequest" message="tns:requestOrderStatus"/>
      <output wsam:Action="http://www.afterpay.nl/ad3/OrderManagementServicesImpl/requestOrderStatusResponse" message="tns:requestOrderStatusResponse"/>
      <fault message="tns:SystemConfigurationException" name="SystemConfigurationException" wsam:Action="http://www.afterpay.nl/ad3/OrderManagementServicesImpl/requestOrderStatus/Fault/SystemConfigurationException"/>
      <fault message="tns:AuthenticationException" name="AuthenticationException" wsam:Action="http://www.afterpay.nl/ad3/OrderManagementServicesImpl/requestOrderStatus/Fault/AuthenticationException"/>
      <fault message="tns:AccessDeniedException" name="AccessDeniedException" wsam:Action="http://www.afterpay.nl/ad3/OrderManagementServicesImpl/requestOrderStatus/Fault/AccessDeniedException"/>
      <fault message="tns:IllegalParameterException" name="IllegalParameterException" wsam:Action="http://www.afterpay.nl/ad3/OrderManagementServicesImpl/requestOrderStatus/Fault/IllegalParameterException"/>
    </operation>
    <operation name="cancelOrder">
      <input wsam:Action="http://www.afterpay.nl/ad3/OrderManagementServicesImpl/cancelOrderRequest" message="tns:cancelOrder"/>
      <output wsam:Action="http://www.afterpay.nl/ad3/OrderManagementServicesImpl/cancelOrderResponse" message="tns:cancelOrderResponse"/>
      <fault message="tns:SystemConfigurationException" name="SystemConfigurationException" wsam:Action="http://www.afterpay.nl/ad3/OrderManagementServicesImpl/cancelOrder/Fault/SystemConfigurationException"/>
      <fault message="tns:AuthenticationException" name="AuthenticationException" wsam:Action="http://www.afterpay.nl/ad3/OrderManagementServicesImpl/cancelOrder/Fault/AuthenticationException"/>
      <fault message="tns:AccessDeniedException" name="AccessDeniedException" wsam:Action="http://www.afterpay.nl/ad3/OrderManagementServicesImpl/cancelOrder/Fault/AccessDeniedException"/>
      <fault message="tns:IllegalParameterException" name="IllegalParameterException" wsam:Action="http://www.afterpay.nl/ad3/OrderManagementServicesImpl/cancelOrder/Fault/IllegalParameterException"/>
    </operation>
    <operation name="doVoid">
      <input wsam:Action="http://www.afterpay.nl/ad3/OrderManagementServicesImpl/doVoidRequest" message="tns:doVoid"/>
      <output wsam:Action="http://www.afterpay.nl/ad3/OrderManagementServicesImpl/doVoidResponse" message="tns:doVoidResponse"/>
      <fault message="tns:SystemConfigurationException" name="SystemConfigurationException" wsam:Action="http://www.afterpay.nl/ad3/OrderManagementServicesImpl/doVoid/Fault/SystemConfigurationException"/>
      <fault message="tns:AuthenticationException" name="AuthenticationException" wsam:Action="http://www.afterpay.nl/ad3/OrderManagementServicesImpl/doVoid/Fault/AuthenticationException"/>
      <fault message="tns:AccessDeniedException" name="AccessDeniedException" wsam:Action="http://www.afterpay.nl/ad3/OrderManagementServicesImpl/doVoid/Fault/AccessDeniedException"/>
      <fault message="tns:IllegalParameterException" name="IllegalParameterException" wsam:Action="http://www.afterpay.nl/ad3/OrderManagementServicesImpl/doVoid/Fault/IllegalParameterException"/>
    </operation>
    <operation name="requestNewInvoiceNumber">
      <input wsam:Action="http://www.afterpay.nl/ad3/OrderManagementServicesImpl/requestNewInvoiceNumberRequest" message="tns:requestNewInvoiceNumber"/>
      <output wsam:Action="http://www.afterpay.nl/ad3/OrderManagementServicesImpl/requestNewInvoiceNumberResponse" message="tns:requestNewInvoiceNumberResponse"/>
      <fault message="tns:SystemConfigurationException" name="SystemConfigurationException" wsam:Action="http://www.afterpay.nl/ad3/OrderManagementServicesImpl/requestNewInvoiceNumber/Fault/SystemConfigurationException"/>
      <fault message="tns:AuthenticationException" name="AuthenticationException" wsam:Action="http://www.afterpay.nl/ad3/OrderManagementServicesImpl/requestNewInvoiceNumber/Fault/AuthenticationException"/>
      <fault message="tns:AccessDeniedException" name="AccessDeniedException" wsam:Action="http://www.afterpay.nl/ad3/OrderManagementServicesImpl/requestNewInvoiceNumber/Fault/AccessDeniedException"/>
      <fault message="tns:IllegalParameterException" name="IllegalParameterException" wsam:Action="http://www.afterpay.nl/ad3/OrderManagementServicesImpl/requestNewInvoiceNumber/Fault/IllegalParameterException"/>
    </operation>
  </portType>
  <binding name="OrderManagementServicesImplPortBinding" type="tns:OrderManagementServicesImpl">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="doReauthorization">
      <soap:operation soapAction="refundInvoice"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AuthenticationException">
        <soap:fault name="AuthenticationException" use="literal"/>
      </fault>
      <fault name="AccessDeniedException">
        <soap:fault name="AccessDeniedException" use="literal"/>
      </fault>
      <fault name="IllegalParameterException">
        <soap:fault name="IllegalParameterException" use="literal"/>
      </fault>
    </operation>
    <operation name="refundInvoice">
      <soap:operation soapAction="refundInvoice"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AuthenticationException">
        <soap:fault name="AuthenticationException" use="literal"/>
      </fault>
      <fault name="AccessDeniedException">
        <soap:fault name="AccessDeniedException" use="literal"/>
      </fault>
      <fault name="IllegalParameterException">
        <soap:fault name="IllegalParameterException" use="literal"/>
      </fault>
    </operation>
    <operation name="refundFullInvoice">
      <soap:operation soapAction="refundInvoice"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AuthenticationException">
        <soap:fault name="AuthenticationException" use="literal"/>
      </fault>
      <fault name="AccessDeniedException">
        <soap:fault name="AccessDeniedException" use="literal"/>
      </fault>
      <fault name="IllegalParameterException">
        <soap:fault name="IllegalParameterException" use="literal"/>
      </fault>
    </operation>
    <operation name="captureFull">
      <soap:operation soapAction="captureFull"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="IllegalParameterException">
        <soap:fault name="IllegalParameterException" use="literal"/>
      </fault>
      <fault name="AccessDeniedException">
        <soap:fault name="AccessDeniedException" use="literal"/>
      </fault>
      <fault name="AuthenticationException">
        <soap:fault name="AuthenticationException" use="literal"/>
      </fault>
    </operation>
    <operation name="capturePartial">
      <soap:operation soapAction="capturePartial"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SystemConfigurationException">
        <soap:fault name="SystemConfigurationException" use="literal"/>
      </fault>
      <fault name="AuthenticationException">
        <soap:fault name="AuthenticationException" use="literal"/>
      </fault>
      <fault name="AccessDeniedException">
        <soap:fault name="AccessDeniedException" use="literal"/>
      </fault>
      <fault name="IllegalParameterException">
        <soap:fault name="IllegalParameterException" use="literal"/>
      </fault>
    </operation>
    <operation name="requestOrderStatus">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SystemConfigurationException">
        <soap:fault name="SystemConfigurationException" use="literal"/>
      </fault>
      <fault name="AuthenticationException">
        <soap:fault name="AuthenticationException" use="literal"/>
      </fault>
      <fault name="AccessDeniedException">
        <soap:fault name="AccessDeniedException" use="literal"/>
      </fault>
      <fault name="IllegalParameterException">
        <soap:fault name="IllegalParameterException" use="literal"/>
      </fault>
    </operation>
    <operation name="cancelOrder">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SystemConfigurationException">
        <soap:fault name="SystemConfigurationException" use="literal"/>
      </fault>
      <fault name="AuthenticationException">
        <soap:fault name="AuthenticationException" use="literal"/>
      </fault>
      <fault name="AccessDeniedException">
        <soap:fault name="AccessDeniedException" use="literal"/>
      </fault>
      <fault name="IllegalParameterException">
        <soap:fault name="IllegalParameterException" use="literal"/>
      </fault>
    </operation>
    <operation name="doVoid">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SystemConfigurationException">
        <soap:fault name="SystemConfigurationException" use="literal"/>
      </fault>
      <fault name="AuthenticationException">
        <soap:fault name="AuthenticationException" use="literal"/>
      </fault>
      <fault name="AccessDeniedException">
        <soap:fault name="AccessDeniedException" use="literal"/>
      </fault>
      <fault name="IllegalParameterException">
        <soap:fault name="IllegalParameterException" use="literal"/>
      </fault>
    </operation>
    <operation name="requestNewInvoiceNumber">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SystemConfigurationException">
        <soap:fault name="SystemConfigurationException" use="literal"/>
      </fault>
      <fault name="AuthenticationException">
        <soap:fault name="AuthenticationException" use="literal"/>
      </fault>
      <fault name="AccessDeniedException">
        <soap:fault name="AccessDeniedException" use="literal"/>
      </fault>
      <fault name="IllegalParameterException">
        <soap:fault name="IllegalParameterException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="OrderManagementServicesImplService">
    <port name="OrderManagementServicesImplPort" binding="tns:OrderManagementServicesImplPortBinding">
      <soap:address location="https://www.acceptgirodienst.nl:443/soapservices/om/OrderManagement"/>
    </port>
  </service>
</definitions>